# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js
.next/
out/
.next/cache

# Env
.env
.env.local
.env.*.local

# Editor/OS
.DS_Store
.vscode/
.idea/

# Logs and build
/build/
dist/
*.log
.vercel
.env*.local
finalVoterList.xlsx
